.headerHome{
  background-color: var(--verde-principal);
  display: block;
  background-size: contain;
}

.BodyHome{
  background-color: var(--verde-principal);
  color: var(--verde-principal);
}

.BodyHome::part(background) {
  background: var(--verde-principal);
}

.descricaoHome{
  text-align: center;
}

.campoLogin {
  align-items: center;
  margin: 20% 10% 10% 10%;
  background-color: var(--verde-principal);
}

.botaoEntrar {
  background: var(--verde-principal);
  color: var(--branco-backgroud);
  font-family: var(--font-principal);
  font-weight: 200;
  margin: 0 10%;
}

.imagemLogo {
  padding: 15% 25%;
  margin: -10% -10%;
  background-color: var(--verde-principal);
  display: grid;  
}

.listaLogin {
  background-color: var(--verde-principal);
}

.campoInput{
  border-radius: 10px;
  margin: 10% 0%;
}
