<ion-header class="headerHome">
  <ion-toolbar>
      <ion-img
        src="https://raw.githubusercontent.com/PedroJoaquim2001/imagens/main/Trevo.png"
        alt="logo trevo" 
        class="imagemLogo"
      ></ion-img>
      
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="BodyHome">
  <p class="descricaoHome">Bem-Vindo ao aplicativo da Trevo</p>
  <ion-list class="listaLogin">
    <div class="campoLogin">
      <ion-item class="campoInput">
        <ion-input label="" placeholder="Login"></ion-input>
      </ion-item>
      <ion-item class="campoInput">
        <ion-input label="" placeholder="Senha"></ion-input>
      </ion-item>
    </div>
  </ion-list>

  <ion-button expand="block" class="botaoEntrar">Entrar</ion-button>


</ion-content>


